body{
        background-color: rgb(249, 249, 208);
         
}


.main_container{
    display: flex;
    flex-direction: column;
}


.title{
    display: flex;
    color:  rgb(74, 20, 20);
    font-size: larger;  
    justify-content: center;
    padding-right: 20px;
    
     
}
.menu_container{
     
    display: flex;
    gap: 10px;
    justify-content: center;
    
    align-items: center;
    font-weight: 600;
}

.menu_container button{
    
    background-color: rgb(240, 240, 103);
    color: black;
    
    padding: 10px;
    letter-spacing: 1.5px; 
    
    cursor: pointer;
   
    border-radius: 5px;
    border:2px solid blue;
  
    

}
.menu_container button:hover
{
    font-size: 14px;
    text-decoration: solid;
    background:rgb(92, 92, 2);
    color: white;
    
    border-radius: 2px;
    
    border-radius: 5px;
}

.duty_container{
    display: flex;
    justify-content: space-between;
}

.single_duty{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 90vw;
}

.single_duty p
{
    
    padding: 20px;
    text-align: justify;
    width: 80%;
    
}

@media (min-width:600px) {
    

    .app_container{
        display: flex;
        height: 42vh;
        

    }
    .menu_container{
        
        display: flex;
        flex-direction: column;
        align-content: center; 
      
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        
        
        height: 100%;
        min-width: 15vw;
    }
    .job_container{
        
        
         
    }

    .menu_container button{
        width: 100px;
    }

     
    
}
